/*
==========================================================================
   Note
==========================================================================
*/

.note-container {
    background-color: #474747;
    border-radius: 10px;
    line-height: 1.25em;
    margin: 10px 4px;
    padding: 20px;

    &:first-child {
        margin-top: 0;
    }
}
