/*
==========================================================================
   Notepad
==========================================================================
*/

.notepad-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}
.new-note-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    label {
        color: #fafafa;
        font-size: 1.5em;
        margin: 0 0 20px 10px;
    }
    textarea {
        background-color: #474747;
        border-radius: 10px;
        border: solid 4px #212121;
        color: #fafafa;
        line-height: 1.25em;
        margin-bottom: 20px;
        padding: 20px;
        transition: border-color, 0.3s;

        &:focus {
            border-color: #00695c;
            outline: none;
        }
    }
}
#add-note-btn {
    align-self: flex-end;
    margin-right: 4px;
}
