/*
==========================================================================
   Note
==========================================================================
*/

.note-container {
    background-color: #474747;
    border-radius: 10px;
    line-height: 1.25em;
    margin: 10px 4px;
    padding: 20px;
    position: relative;
    word-break: break-word;

    &:first-child {
        margin-top: 0;
    }
}
.close-btn-container {
    align-items: center;
    background-color: #f44336;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;

    svg {
        fill: #fafafa;
    }
}
