/*
==========================================================================
   App
==========================================================================
*/

.App {
    color: #fafafa;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    width: 543px;
}
.generic-btn {
    -webkit-appearance: none;
    background-color: #00695c;
    border-radius: 10px;
    border: none;
    color: #fafafa;
    cursor: pointer;
    letter-spacing: 0.05em;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: opacity, 0.3s;

    &:hover {
        opacity: 0.8;
    }
    &:focus {
        outline: none;
    }
}
